.reclutamiento {
  padding: 100px 0;
}

.reclutamiento h2 {
  line-height: 1.5;
  font-size: 52px;
  margin-bottom: 42px;
}

.reclutamiento p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.reclutamiento p > .connecting-brand {
  font-style: italic;
  font-weight: 700;
}

.reclutamiento p > .connecting-a > a {
  text-decoration: none;
  color: var(--turquesa-oscuro);
}

.reclutamiento h3 {
  font-style: italic;
  font-size: 52px;
  line-height: 1.5;
}
