:root {
  --turquesa: #2fd3ae;
  --turquesa-oscuro: #0eb991;
  --black: #000;
  --dark: #282828;
  --white: #fff;
}

@font-face {
  font-family: caviar-dreams, "sans-serif";
  font-weight: 600;
  font-style: italic;
  src: url(../public//caviar_dreams/CaviarDreams.ttf) format("truetype");
}

body {
  font-family: caviar-dream, "sans-serif" !important;
  font-size: 18px !important;
}

.container {
  max-width: 1500px !important;
}

/*Scroll Bar */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--turquesa);
}
